body {
	font-size: 18px;
	line-height: 1.4rem;
	font-family: Helvetica;
}

.container {
	max-width: 960px;
}

.header {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	background: url(../../resources/images/glasses-bg.png);
	height: 30rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.nav {
	display: inline-flex;
	background-color: cadetblue;
	color: white;
	font-size: 1rem;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
	z-index: 20;
	height: auto;
}

.logo-lockup {
	display: inline-flex;
	justify-content: flex-start;
	width: 100%;
	padding-left: 2rem;
	align-items: center;

}

.logo img {
	padding-right: 1rem;
	padding-top: 0.5rem;
	height: 1.5rem;
	width: auto;

}

.nav-links {
	display: inline-flex;
	justify-content: flex-end;
}

.nav-item {
	display: inline-flex;
	padding: 1rem 2rem;
}

.site-motto {
	display: flex;	
	width: 100%;
	justify-content: flex-end;
}

.motto-text {
	display: inline-flex;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	color: black;
	background-color: white;
	padding: 1.5rem 5rem;
	text-transform: uppercase;
	margin-top: 10rem;
	margin-right: -2rem;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services {
	display: flex;
	margin-top: 3rem;
	justify-content: center;
}

.specific-service {
	display: inline-flex;
	flex-direction: column;
	margin-right: 6rem;
	max-width: 5rem;
	min-width: 3.5rem;
	height: 8rem;
	justify-content: space-between;
	align-items: center;
}

.specific-service h3 {
	text-align: center;
}

#paper img {
	max-width: 3.5rem;
}

#ruler img {
	max-width: 5rem;
}

#truck img {
	max-width: 5rem;
}

.blurbs {
	display: flex;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.blurb-item {
	display: inline-flex;
	flex-direction: column;
	padding-left: 5%;
	width: 35%;
}

.blurbs h2 {
	font-size: 1rem;
	background-color: cadetblue;
	color: white;
	padding: .5rem 1.25rem;
	width: 10rem
}

.blurbs h3{ 
	padding-top: 1rem;
}

.footer {
	display: inline-flex;
	width: 100%;
	background-color: azure;
	justify-content: center;
}

.footer-text {
	display: inline-flex;
	height: 1.5rem;
	justify-content: flex-start;
	width: 100%;
	padding: 4rem;
}

.footer-text img {
	height: 1.5rem;
	margin-right: 1rem;
}