body {
	font-size: 18px;
	line-height: 1.4rem;
	font-family: Helvetica;
}

.container {
	max-width: 960px;
}

.header {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	background: url(../../resources/images/glasses-bg.png);
	height: 30rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.nav {
	display: inline-flex;
	background-color: cadetblue;
	color: white;
	font-size: 1rem;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
	z-index: 20;
	height: auto;
}

.logo-lockup {
	display: inline-flex;
	justify-content: flex-start;
	width: 100%;
	padding-left: 2rem;
	align-items: center;

}

.logo img {
	padding-right: 1rem;
	padding-top: 0.5rem;
	height: 1.5rem;
	width: auto;

}

.nav-links {
	display: inline-flex;
	justify-content: flex-end;
}

.nav-item {
	display: inline-flex;
	padding: 1rem 2rem;
}

.site-motto {
	display: flex;	
	width: 100%;
	justify-content: flex-end;
}

.motto-text {
	display: inline-flex;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	color: black;
	background-color: white;
	padding: 1.5rem 5rem;
	text-transform: uppercase;
	margin-top: 10rem;
	margin-right: -2rem;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services {
	display: flex;
	margin-top: 3rem;
	justify-content: center;
}

.specific-service {
	display: inline-flex;
	flex-direction: column;
	margin-right: 6rem;
	max-width: 5rem;
	min-width: 3.5rem;
	height: 8rem;
	justify-content: space-between;
	align-items: center;
}

.specific-service h3 {
	text-align: center;
}

#paper img {
	max-width: 3.5rem;
}

#ruler img {
	max-width: 5rem;
}

#truck img {
	max-width: 5rem;
}

.blurbs {
	display: flex;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.blurb-item {
	display: inline-flex;
	flex-direction: column;
	padding-left: 5%;
	width: 35%;
}

.blurbs h2 {
	font-size: 1rem;
	background-color: cadetblue;
	color: white;
	padding: .5rem 1.25rem;
	width: 10rem;
	text-transform: uppercase;
}

.blurbs h3{ 
	padding-top: 1rem;
}

.footer {
	display: inline-flex;
	width: 100%;
	background-color: azure;
	justify-content: center;
}

.footer-text {
	display: inline-flex;
	height: 1.5rem;
	justify-content: flex-start;
	width: 100%;
	padding: 4rem;
}

.footer-text img {
	height: 1.5rem;
	margin-right: 1rem;
}

@media only screen and (min-width: 1024px) {
	#small {
		display: none;
	}

}

@media only screen and (max-width: 1024px) {
	.container {
		max-width: 100%;
	}

	.header {
		height: 22rem;
	}

	.motto-text {
		margin-top: 5rem;
		margin-right: 2rem;
		padding: 0.75rem 4rem;
		font-size: 1.33rem;
	}

	.nav {
		margin-top: 0rem;
	}

	#small {
		display: none;
	}

}

@media only screen and (max-width: 630px) {
	.full, .site-name {
		display: none;
	}

	
    #small {
    	display: flex;
    }


@media only screen and (max-width: 470px) {

	.container, .body {
		min-width: 100%;
	}

	.header {
		height: 17rem;
	}

	.site-motto {
		min-width: 470px;
		width: 100%;
	}

	.motto-text {
		margin-top: 9rem;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 1rem;
		justify-content: center;
		margin-right: 0rem;

	}

	.services {
		flex-direction: column;
		margin-top: 3.77rem;
		margin-bottom: 3.77rem;
		justify-content: center;
		align-items: center;
	}

	.specific-services {

	}

	.specific-service img {
		margin-top: 1.54rem;
		margin-bottom: 0.5rem;
	}

	.specific-service h3 {
		font-size: 0.77rem;
		margin-bottom: 1rem;
	}

	.blurbs {
		flex-direction: column;
		align-items: center;
	}

	.blurb-item {
		padding-left: 0rem;
		width: 100%;
	}

	.blurbs h2 {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
	}

	.blurbs h3 {
		padding-top: 1rem;
		padding-bottom: 4rem;
		font-size: 0.77rem;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
    
    .footer-text h3 {
    	display: none;
    }

    .footer-text {
    	justify-content: center;
    }

}

