body {
	font-size: 18px;
	line-height: 1.4rem;
	font-family: Helvetica;
}

.container {
	max-width: 960px;
}

.header {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	background: url(../../resources/images/glasses-bg.png);
	height: 30rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.nav {
	display: inline-flex;
	background-color: cadetblue;
	color: white;
	font-size: 1rem;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
	z-index: 20;
	height: auto;
}

.logo-lockup {
	display: inline-flex;
	justify-content: flex-start;
	width: 100%;
	padding-left: 2rem;
	align-items: center;

}

.logo img {
	padding-right: 1rem;
	padding-top: 0.5rem;
	height: 1.5rem;
	width: auto;

}

.nav-links {
	display: inline-flex;
	justify-content: flex-end;
}

.nav-item {
	display: inline-flex;
	padding: 1rem 2rem;
}

